.homePage {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 696px;
    width: 100vw;
    background-image: url('/public/img/Picture.png');

}

.banner {
    text-align: left;
    color: white;
    padding: 20px 60px;
    border-radius: 10px;
}

.title {
    color: #F7F7F7;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 10px;
}

.description {
    color: #F7F7F7;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 16px 60px;
    font-size: 1rem;
    color: white;
    background-color: #E44848;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s;
}