.header {
    display: flex;
    align-items: center;
    padding: 24px 64px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
    /* margin: 0 auto; */
    width: 100vw
}

.logo a {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    margin-right: 450px;
}

.nav {

    display: flex;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.navList {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.navItem {}

.navLink {
    text-decoration: none;
    color: #101828;
    transition: color 0.3s;

}

.active {
    color: red;
}

.trucks {
    color: #475467;
}

.logoImage {
    width: 150px;
    height: auto;
    object-fit: contain;
}